#!/bin/sh
HOST=$(echo toolchain/bin/*-gcc | sed 's!toolchain/bin/\(.*\)-gcc!\1!')
TOOLCHAIN=$(readlink toolchain)
PLATFORM=$(readlink platform)
export PATH=$TOOLCHAIN/$HOST:$TOOLCHAIN/bin:$PATH
export CPPFLAGS="-I$PLATFORM/usr/include"
export LDFLAGS="-L$PLATFORM/usr/lib"

../../configure --host=$(echo toolchain/bin/*-gcc | sed 's!toolchain/bin/\(.*\)-gcc!\1!') --prefix=$PLATFORM/usr "$@"

